<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link rel="stylesheet" href="CSS/base.css">
    <link rel="stylesheet" href="CSS/filtros.css">
    <link rel="stylesheet" href="CSS/footer.css">
    <link rel="stylesheet" href="CSS/header.css">
    <link rel="stylesheet" href="CSS/historia.css">
    <link rel="stylesheet" href="CSS/login.css">
    <link rel="stylesheet" href="CSS/noticias.css">
    <link rel="stylesheet" href="CSS/paginacao.css">
    <link rel="stylesheet" href="CSS/publicar.css">
    <link rel="stylesheet" href="CSS/slider.css">
    <link rel="stylesheet" href="CSS/tags.css">
    
    <script src="script.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Cabeçalho -->
    <template
        hx-get="template/header.html"
        hx-target="#xcabecalho"
        hx-trigger="load"
        >
    </template>
    <div id="xcabecalho"></div>

    <!-- Slider Hero (carregado via HTMX) -->
    <template
        hx-get="template/slider.html"
        hx-target="#slider"
        hx-trigger="load"
        >
    </template>
    <div id="slider"></div>

    <main>
        <div class="busca-container">
            <input type="text" id="busca-texto" placeholder="Pesquisar Noticias...">
        </div>

        <!-- Card de Notícia -->
        <template
            hx-get="template/card.html"
            hx-target="#noticia"
            hx-trigger="load"
            >
        </template>
        <div id="noticia"></div>
    </main>
    
    <!-- Rodapé -->
    <template
        hx-get="template/footer.html"
        hx-target="#footer"
        hx-trigger="load"
        >
    </template>
    <div id="footer"></div>
</body>
</html>